NODE_NAME=PC
SYNC_BASE_PATH=D:\

# Tus credenciales reales de Google Cloud
GDRIVE_CLIENT_ID=tu_client_id_aqui.apps.googleusercontent.com
GDRIVE_CLIENT_SECRET=tu_client_secret_aqui
GDRIVE_FOLDER_ID=id_de_tu_carpeta_en_google_drive